<%= turbo_frame_tag 'form-section' do %>
  <div class="flex flex-col justify-center items-center align-middle h-full">
    <p class="px-5 text-2xl font-medium">
      Thank you for contacting Pitcairn Flight.  We are looking forward to working with you soon.  We will review your message and get back with you within 1-5 business days.  <br><br>
      You can also give us a call at <%=link_to "(610) 495-7000", "tel:1-610-495-7000", class: "text-slate-800 hover:underline" %> or email us at <%= mail_to 'flynow@pitcairnflight.com', class: "text-slate-800 hover:underline"%>
    </p>
  </div>
<% end %>

<% if Rails.env.production? %>
  <!-- Event snippet for Form Completion Website conversion page -->
  <script>
    gtag('event', 'conversion', {'send_to': 'AW-16456738885/cndfCK7o2JAZEMXQl6c9'});
  </script>
<%end%>