<%# Head / Meta Data %>
<% title("Scenic Rides | Pitcairn Flight Academy") %>
<% meta_description("Experience the thrill of aviation with a Scenic Ride at Pitcairn Flight Academy in Pottstown, Philadelphia, Limerick, Reading, Lansdale. Take the controls and get a taste of what it's like to be a pilot.") %>
<% meta_keywords("Recreational Flight, Scenic Rides, Introductory Flight, Flight Experience, Reading Flight School, Philadelphia Flight School, Limerick Flight School, Pottstown Flight School, King of Prussia Flight School") %>

<header class="w-full bg-twin-cessna h-screen lg:h-screen bg-cover bg-center flex justify-center items-center" id="top">
  <div class="px-5 py-40 lg:py-52 flex flex-col justify-center items-center lg:items-start w-full">
      <h1 class="font-bold text-6xl text-center lg:text-start uppercase max-w-xl lg:max-w-2xl xl:max-w-4xl">Fly for fun</h1>
      <h2 class="font-bold text-3xl text-center lg:text-start py-10 font-header italic max-w-xl lg:max-w-2xl xl:max-w-4xl">Whether interested in seeing Philly from above, organizing a unique family event, or having a special occasion, allow us to take you up in the sky</h2>
      <div class="hidden lg:flex flex-col gap-2 mb-5 max-w-xl lg:max-w-2xl xl:max-w-4xl">
        <p>At Pitcairn Flight Academy, we aim to expose as many folks to the world of flight as possible. If you’re not considering becoming a pilot, perhaps you’d be interested in what it’s like to fly above your home in the greater Philadelphia area. We offer recreational and scenic flights as a means to do so.</p>
        <p>Fly over notable landmarks in the area while in one of our CFIs' safe, capable hands. A scenic flight is the perfect gift for the aviation enthusiast in your family. It could be used as a unique business outing. A scenic flight even serves as a great date idea!</p>
        <p>Drop us a note and organize your scenic flight from Heritage Field Airport today.</p>
      </div>
      <div class="w-full flex flex-col items-center lg:hidden">
        <a href="#quiz-frame", class="btn-primary"
          onclick="event.preventDefault(); document.getElementById('quiz-frame').scrollIntoView({ behavior: 'smooth' });">
          FLY NOW
        </a>
      </div>
  </div>
</header>

<turbo-frame id="quiz-frame">
  <div class=" lg:absolute right-5 top-10 z-50 bg-white lg:rounded-xl lg:border border-sky-700 pb-5 lg:overflow-y-auto lg:h-[92vh]">
    <%= render "form", recreational_flight: @recreational_flight %>
    
  </div>
</turbo-frame>
