<section class="relative flex flex-col items-center lg:bg-gradient-to-l bg-gradient-to-b from-slate-900 to-sky-700 px-5 lg:px-0  lg:py-16 py-10" id="form-section">
  
    <%= turbo_frame_tag 'form-section' , class: "z-20 min-h-[60vh] w-full max-w-2xl bg-white p-5 rounded-xl" do %>
      <%= render 'messages/form', message: @message%>
    <% end %>

  <!--bg image-->
  <div class="absolute hidden lg:block z-0">
    <%= image_tag "pitcairn-logo-wing.svg", alt: "logo backdrop", class: "h-[60vh] z-0 opacity-30"%> 
  </div>
  
</section>