<section class="bg-df-cessna bg-center bg-cover bg-fixed h-screen-2/3 lg:h-screen-4/5">
  <div class="flex flex-col items-center justify-center text-white text-center h-full mx-3">
    <h2 class="uppercase text-4xl lg:text-5xl font-bold">Start with a <span class="text-teal-500">discovery flight</span></h2>
    <p class="text-xl py-10 font-header">Also known as an intro flight, this is the first flight you'll take where you're the pilot.  </p>
    <%= link_to "SCHEDULE TODAY", discovery_flight_path,  target: "blank", data: { turbo: false }, class: "btn-primary" %>
  </div>
</section>