<section class="py-6 bg-twin-cessna  lg:bg-bottom bg-cover text-gray-900">
	<div class="container mx-auto flex flex-col items-center justify-center p-4 space-y-8 md:p-10 md:px-24 xl:px-48">
		<h2 class="text-5xl font-bold leadi text-center font-header">Fly with <span class="text-sky-800">experienced safe aviators</span> that know the flight training industry.</h2>
		<p class="pt-2 pb-8 text-xl font-medium text-center">We're a group of aviation professionals with extensive expertise in the flight training field, boasting decades of combined experience. Our mission is to guide you safely into the skies. Begin your flight training journey today by scheduling a discovery flight.</p>
		
    <%=link_to discovery_flight_path, target: "blank", data: { turbo: false }, class: "mx-auto" do%>
      <div class="px-8 py-3 text-lg font-semibold rounded bg-gray-800 text-gray-50 hover:scale-105 duration-300">
        SCHEDULE DISCOVERY FLIGHT
      </div>
    <% end %>
	</div>
</section>