<!--Hamburger Button-->
<button x-on:click="open = !open"
        class="flex items-center focus:outline-none">
  <!---->
  <span x-text="open ? '&nbsp;' : '&nbsp;'"
        class="text-lg font-semibold ">&nbsp;</span>
  
  <div class="w-6 flex items-center justify-center relative text-white">
    <span x-bind:class="open ? 'translate-y-0 rotate-45' : '-translate-y-2'"
          class="transform transition duration-500 w-full h-[3px] bg-current absolute"></span>
    
    <span x-bind:class="open ? 'opacity-0 translate-x-3' : 'opacity-100'"
          class="transform transition duration-500 w-full h-[3px] bg-current absolute"></span>
    
    <span x-bind:class="open ? 'translate-y-0 -rotate-45' : 'translate-y-2'"
          class="transform transition duration-500 w-full h-[3px] bg-current absolute"></span>
  </div>
</button>