<section class="py-8 bg-gray-100 text-gray-800">
	<div class="container flex flex-col items-center mx-auto mb-12 md:p-10 md:px-12">
		<h2 class="font-bold font-header uppercase text-5xl pt-5 pb-10 leading-none text-center">What our Students<br> are Saying About Us</h2>
		<h3 class="-mt-5 uppercase text-xl hidden">Testimonials</h3>
	</div>
	<div class="container flex flex-col items-center justify-center mx-auto lg:flex-row lg:flex-wrap lg:justify-evenly lg:px-10">
		<div class="flex flex-col max-w-xl mx-4 my-6 shadow-lg">
			<div class="px-4 py-12 rounded-t-lg sm:px-8 md:px-12 bg-gray-50">
				<p class="relative px-6 py-1 font-medium text-lg italic text-center text-gray-800">
					<svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 512 512" fill="currentColor" class="w-8 h-8 text-sky-900">
						<path d="M232,246.857V16H16V416H54.4ZM48,48H200V233.143L48,377.905Z"></path>
						<path d="M280,416h38.4L496,246.857V16H280ZM312,48H464V233.143L312,377.905Z"></path>
					</svg>I love the home-town feel of this modernized flight school. They offer a variety of planes for instruction and rent. The instructors are top-notch and care about their students. And the school uses a nice app for scheduling.
					<svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 512 512" fill="currentColor" class="absolute right-0 w-8 h-8 text-sky-900">
						<path d="M280,185.143V416H496V16H457.6ZM464,384H312V198.857L464,54.1Z"></path>
						<path d="M232,16H193.6L16,185.143V416H232ZM200,384H48V198.857L200,54.1Z"></path>
					</svg>
				</p>
			</div>
			<div class="flex flex-col items-center justify-center p-8 rounded-b-lg bg-sky-900 text-gray-50">
				<p class="text-xl font-semibold leading-tight">Nathan W</p>
				<p class="text-yellow-400 text-center">★★★★★</p>
			</div>
		</div>
		<div class="flex flex-col max-w-lg mx-4 my-6">
			<div class="px-4 py-12 rounded-t-lg sm:px-8 md:px-12">
				<p class="relative px-6 py-1 text-3xl font-semibold italic text-center text-gray-800">
					The instructors are top-notch and care about their students.
				</p>
			</div>
		</div>
		
    <div class="flex flex-col-reverse lg:flex-row items-center">
      <div class="flex flex-col max-w-lg mx-4 my-6">
        <div class="px-4 py-12 rounded-t-lg sm:px-8 md:px-12">
          <p class="relative px-6 py-1 text-3xl font-semibold italic text-center text-gray-800">
            I could not recommend Barry and the entire team more highly. If you’re looking for a place to learn to fly or brush up on your skills, this is it.
          </p>
        </div>
      </div>
      <div class="flex flex-col max-w-xl mx-4 my-6 shadow-lg">
        <div class="px-4 py-12 rounded-t-lg sm:px-8 md:px-12 bg-gray-50">
          <p class="relative px-6 py-1 font-medium text-lg italic text-center text-gray-800">
            <svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 512 512" fill="currentColor" class="w-8 h-8 text-sky-900">
              <path d="M232,246.857V16H16V416H54.4ZM48,48H200V233.143L48,377.905Z"></path>
              <path d="M280,416h38.4L496,246.857V16H280ZM312,48H464V233.143L312,377.905Z"></path>
            </svg>I’ve been a student at Pitcairn for over a year. They have put great care into selecting the best possible team and creating the best possible curriculum to help students learn at their own pace. Because they take the time to know their students abilities and aspirations, they can tailor training to your needs. And they do it all at a very reasonable price. This has allowed me to expedite my training. The entire staff (ground crew, maintenance, customer service, instructors, and ownership) are very friendly and accommodating. I could not recommend Barry and the entire team more highly. If you’re looking for a place to learn to fly or brush up on your skills, this is it.
            <svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 512 512" fill="currentColor" class="absolute right-0 w-8 h-8 text-sky-900">
              <path d="M280,185.143V416H496V16H457.6ZM464,384H312V198.857L464,54.1Z"></path>
              <path d="M232,16H193.6L16,185.143V416H232ZM200,384H48V198.857L200,54.1Z"></path>
            </svg>
          </p>
        </div>
        <div class="flex flex-col items-center justify-center p-8 rounded-b-lg bg-sky-900 text-gray-50">
          <p class="text-xl font-semibold leading-tight">Mario M</p>
          <p class="text-yellow-400 text-center">★★★★★</p>
        </div>
      </div>
    </div>
	</div>
</section>