<section class="bg-gradient-to-b from-white to-sky-200 pb-20">
  <h3 class="text-3xl font-semibold pb-10 font-header mx-5 text-center pt-10">OUR GUEST WORDS</h3>

  <!--1st set-->
  <div class="relative flex flex-row overflow-x-hidden ">
    <div class="flex flex-row gap-10 lg:animate-marquee animate-marqueemobile ml-10">
      <div class="flex-shrink-0 flex flex-col justify-between align-middle items-center bg-sky-500 text-white font-normalfont-paragraph rounded-xl italic text-base w-1/4 lg:w-1/2 text-justify lg:h-80 py-5 px-5 ">
        <p>
          I love the home-town feel of this modernized flight school. They offer a variety of planes for instruction and rent. The instructors are top-notch and care about their students.   And the school uses a nice app for scheduling.
        </p>
        <div class="">
          <p class="text-yellow-300 text-center">★★★★★</p>
          <p class="text-xl font-bold font-header text-center">Nathan W</p>
        </div>
      </div>
      <div class="flex-shrink-0 flex flex-col justify-between bg-sky-500 text-white font-normalfont-paragraph rounded-xl italic text-base w-1/4 lg:w-1/2 text-justify lg:h-80 py-5 px-5 ">
        <p>
          I’ve been a student at Pitcairn for over a year. They have put great care into selecting the best possible team and creating the best possible curriculum to help students learn at their own pace. Because they take the time to know their students abilities and aspirations, they can tailor training to your needs. And they do it all at a very reasonable price. This has allowed me to expedite my training. The entire staff (ground crew, maintenance, customer service, instructors, and ownership) are very friendly and accommodating. I could not recommend Barry and the entire team more highly. If you’re looking for a place to learn to fly or brush up on your skills, this is it.
        </p>
        <div class="">
          <p class="text-yellow-300 text-center">★★★★★</p>
          <p class="text-xl font-bold font-header text-center">Mario M</p>
        </div>
      </div>
      <div class="flex-shrink-0 flex flex-col justify-between bg-sky-500 text-white font-normalfont-paragraph rounded-xl italic text-base w-1/4 lg:w-1/2 text-justify lg:h-80 py-5 px-5 ">
        <p>
          Knowledgeable staff helped this 63 year old pilot to become more proficient and confident after being away for the enjoyment of flying. I would highly recommend lessons with this professional staff.
        </p>
        <div class="">
          <p class="text-yellow-300 text-center">★★★★★</p>
          <p class="text-xl font-bold font-header text-center">Robert</p>
        </div>
      </div>
      <div class="flex-shrink-0 flex flex-col justify-between bg-sky-500 text-white font-normalfont-paragraph rounded-xl italic text-base w-1/4 lg:w-1/2 text-justify lg:h-80 py-5 px-5 ">
        <p>
          I'm so glad that I have gotten the chance to attend this Flight Academy. When I started my journey to find the right place, I didn't even know where to start. Here they start you off with your discovery flight. This is to make sure flying is what you truly want to do. This is where I met my instructor, Darren. He makes the process super easy and almost seamless. Everyone here is super kind and patient and go at your speed. The environment is always so positive and welcoming. You get to meet people from all over the east coast and share stories of our love for flying. If you weren't sure where to start your path to piloting, I recommend starting here. I can't wait to continue my lessons and pursue the path of my dreams!
        </p>
        <div class="">
          <p class="text-yellow-300 text-center">★★★★★</p>
          <p class="text-xl font-bold font-header text-center">Katie P</p>
        </div>
      </div>
      <div class="flex-shrink-0 flex flex-col justify-between bg-sky-500 text-white font-normalfont-paragraph rounded-xl italic text-base w-1/4 lg:w-1/2 text-justify lg:h-80 py-5 px-5 ">
        <p>
          So far, I have been a student at Pitcairn for a little over a month, and I have to say it is one of the most welcoming places I have ever been to. The instructors are super friendly and professional, and most importantly, safe. My instructor (Darren) always makes sure that I am prepared for whatever we are doing, and never hesitates to cancel a lesson if he feels it is at all unsafe, even if he loses some flight time and money from doing so. If there is anywhere I would recommend flying for any sort of certification or rating, it would be here.
        </p>
        <div class="">
          <p class="text-yellow-300 text-center">★★★★★</p>
          <p class="text-xl font-bold font-header text-center">Evan F</p>
        </div>
      </div>
      <div class="flex-shrink-0 flex flex-col justify-between bg-sky-500 text-white font-normalfont-paragraph rounded-xl italic text-base w-1/4 lg:w-1/2 text-justify lg:h-80 py-5 px-5 ">
        <p>
          Today was my first official flight lesson, and words can't describe the excitement, thrill, and sheer happiness I had from today's lesson! From my discovery flight to now I've been working with Darren Slocum and he is by far an amazing instructor! His knowledge, people skills, and passion for teaching are only a few of his awesome traits! I look forward to working with him more and pursuing the journey of obtaining my private pilots certification!
        </p>
        <div class="">
          <p class="text-yellow-300 text-center">★★★★★</p>
          <p class="text-xl font-bold font-header text-center">Chris S</p>
        </div>
      </div>
      <div class="flex-shrink-0 flex flex-col justify-between bg-sky-500 text-white font-normalfont-paragraph rounded-xl italic text-base w-1/4 lg:w-1/2 text-justify lg:h-80 py-5 px-5 ">
        <p>
          The school is perfect the instructors are amazing. Darren is an awesome instructor he can always find a time for me to fly.
        </p>
        <div class="">
          <p class="text-yellow-300 text-center">★★★★★</p>
          <p class="text-xl font-bold font-header text-center">Jayson B</p>
        </div>
      </div>
      <div class="flex-shrink-0 flex flex-col justify-between bg-sky-500 text-white font-normalfont-paragraph rounded-xl italic text-base w-1/4 lg:w-1/2 text-justify lg:h-80 py-5 px-5 ">
        <p>
          Darren is a great instructor! It’s nice having an instructor a few years out of flight school because he is very well versed on procedures and updates practices. Darren is able to relate to lessons that are more difficult and explain it in a way for newbies to understand. He took us up around NYC one night and it was a once in a life time experience. Would recommend to anyone who wants to get into flying!
        </p>
        <div class="">
          <p class="text-yellow-300 text-center">★★★★★</p>
          <p class="text-xl font-bold font-header text-center">Kurt W</p>
        </div>
      </div>
    </div>

    <!--second set-->
    <div class="flex flex-row overscroll-none gap-10 absolute top-0 lg:animate-marquee2 animate-marquee2mobile ml-10">
      <div class="flex-shrink-0 flex flex-col justify-between bg-sky-500 text-white font-normalfont-paragraph rounded-xl italic text-base w-1/4 lg:w-1/2 text-justify lg:h-80 py-5 px-5 ">
        <p>
          I love the home-town feel of this modernized flight school. They offer a variety of planes for instruction and rent. The instructors are top-notch and care about their students.   And the school uses a nice app for scheduling.
        </p>
        <div class="">
          <p class="text-yellow-300 text-center">★★★★★</p>
          <p class="text-xl font-bold font-header text-center">Nathan W</p>
        </div>
      </div>
      <div class="flex-shrink-0 flex flex-col justify-between bg-sky-500 text-white font-normalfont-paragraph rounded-xl italic text-base w-1/4 lg:w-1/2 text-justify lg:h-80 py-5 px-5 ">
        <p>
          I’ve been a student at Pitcairn for over a year. They have put great care into selecting the best possible team and creating the best possible curriculum to help students learn at their own pace. Because they take the time to know their students abilities and aspirations, they can tailor training to your needs. And they do it all at a very reasonable price. This has allowed me to expedite my training. The entire staff (ground crew, maintenance, customer service, instructors, and ownership) are very friendly and accommodating. I could not recommend Barry and the entire team more highly. If you’re looking for a place to learn to fly or brush up on your skills, this is it.
        </p>
        <div class="">
          <p class="text-yellow-300 text-center">★★★★★</p>
          <p class="text-xl font-bold font-header text-center">Mario M</p>
        </div>
      </div>
      <div class="flex-shrink-0 flex flex-col justify-between bg-sky-500 text-white font-normalfont-paragraph rounded-xl italic text-base w-1/4 lg:w-1/2 text-justify lg:h-80 py-5 px-5 ">
        <p>
          Knowledgeable staff helped this 63 year old pilot to become more proficient and confident after being away for the enjoyment of flying. I would highly recommend lessons with this professional staff.
        </p>
        <div class="">
          <p class="text-yellow-300 text-center">★★★★★</p>
          <p class="text-xl font-bold font-header text-center">Robert</p>
        </div>
      </div>
      <div class="flex-shrink-0 flex flex-col justify-between bg-sky-500 text-white font-normalfont-paragraph rounded-xl italic text-base w-1/4 lg:w-1/2 text-justify lg:h-80 py-5 px-5 ">
        <p>
          I'm so glad that I have gotten the chance to attend this Flight Academy. When I started my journey to find the right place, I didn't even know where to start. Here they start you off with your discovery flight. This is to make sure flying is what you truly want to do. This is where I met my instructor, Darren. He makes the process super easy and almost seamless. Everyone here is super kind and patient and go at your speed. The environment is always so positive and welcoming. You get to meet people from all over the east coast and share stories of our love for flying. If you weren't sure where to start your path to piloting, I recommend starting here. I can't wait to continue my lessons and pursue the path of my dreams!
        </p>
        <div class="">
          <p class="text-yellow-300 text-center">★★★★★</p>
          <p class="text-xl font-bold font-header text-center">Katie P</p>
        </div>
      </div>
      <div class="flex-shrink-0 flex flex-col justify-between bg-sky-500 text-white font-normalfont-paragraph rounded-xl italic text-base w-1/4 lg:w-1/2 text-justify lg:h-80 py-5 px-5 ">
        <p>
          So far, I have been a student at Pitcairn for a little over a month, and I have to say it is one of the most welcoming places I have ever been to. The instructors are super friendly and professional, and most importantly, safe. My instructor (Darren) always makes sure that I am prepared for whatever we are doing, and never hesitates to cancel a lesson if he feels it is at all unsafe, even if he loses some flight time and money from doing so. If there is anywhere I would recommend flying for any sort of certification or rating, it would be here.
        </p>
        <div class="">
          <p class="text-yellow-300 text-center">★★★★★</p>
          <p class="text-xl font-bold font-header text-center">Evan F</p>
        </div>
      </div>
      <div class="flex-shrink-0 flex flex-col justify-between bg-sky-500 text-white font-normalfont-paragraph rounded-xl italic text-base w-1/4 lg:w-1/2 text-justify lg:h-80 py-5 px-5 ">
        <p>
          Today was my first official flight lesson, and words can't describe the excitement, thrill, and sheer happiness I had from today's lesson! From my discovery flight to now I've been working with Darren Slocum and he is by far an amazing instructor! His knowledge, people skills, and passion for teaching are only a few of his awesome traits! I look forward to working with him more and pursuing the journey of obtaining my private pilots certification!
        </p>
        <div class="">
          <p class="text-yellow-300 text-center">★★★★★</p>
          <p class="text-xl font-bold font-header text-center">Chris S</p>
        </div>
      </div>
      <div class="flex-shrink-0 flex flex-col justify-between bg-sky-500 text-white font-normalfont-paragraph rounded-xl italic text-base w-1/4 lg:w-1/2 text-justify lg:h-80 py-5 px-5 ">
        <p>
          The school is perfect the instructors are amazing. Darren is an awesome instructor he can always find a time for me to fly.
        </p>
        <div class="">
          <p class="text-yellow-300 text-center">★★★★★</p>
          <p class="text-xl font-bold font-header text-center">Jayson B</p>
        </div>
      </div>
      <div class="flex-shrink-0 flex flex-col justify-between bg-sky-500 text-white font-normalfont-paragraph rounded-xl italic text-base w-1/4 lg:w-1/2 text-justify lg:h-80 py-5 px-5 ">
        <p>
          Darren is a great instructor! It’s nice having an instructor a few years out of flight school because he is very well versed on procedures and updates practices. Darren is able to relate to lessons that are more difficult and explain it in a way for newbies to understand. He took us up around NYC one night and it was a once in a life time experience. Would recommend to anyone who wants to get into flying!
        </p>
        <div class="">
          <p class="text-yellow-300 text-center">★★★★★</p>
          <p class="text-xl font-bold font-header text-center">Kurt W</p>
        </div>
      </div>
  </div>
</section>