<section class="bg-gradient-to-b from-white to-sky-200 pb-20">
  <h3 class="text-3xl font-semibold pb-10 font-header mx-5 text-center pt-10">OUR GUEST WORDS</h3>

  <!--1st set-->
  <div class="relative flex flex-row overflow-x-hidden ">
    <div class="flex flex-row gap-10 lg:animate-marquee animate-marqueemobile ml-10">
      <div class="flex-shrink-0 flex flex-col justify-between bg-sky-500 text-white font-light font-paragraph rounded-xl italic text-base w-1/2 lg:w-1/2 text-justify lg:h-80 py-5 px-5 ">
        <p>
          I love the home-town feel of this modernized flight school. They offer a variety of planes for instruction and rent. The instructors are top-notch and care about their students.   And the school uses a nice app for scheduling.
        </p>
        <div class="">
          <p class="text-yellow-400 text-center">★★★★★</p>
          <p class="text-xl font-bold font-header text-center">Nathan Wortman</p>
        </div>
      </div>
      <div class="flex-shrink-0 flex flex-col justify-between bg-sky-500 text-white font-light font-paragraph rounded-xl italic text-base w-1/2 lg:w-1/2 text-justify lg:h-80 py-5 px-5 ">
        <p>
          I’ve been a student at Pitcairn for over a year. They have put great care into selecting the best possible team and creating the best possible curriculum to help students learn at their own pace. Because they take the time to know their students abilities and aspirations, they can tailor training to your needs. And they do it all at a very reasonable price. This has allowed me to expedite my training. The entire staff (ground crew, maintenance, customer service, instructors, and ownership) are very friendly and accommodating. I could not recommend Barry and the entire team more highly. If you’re looking for a place to learn to fly or brush up on your skills, this is it.
        </p>
        <div class="">
          <p class="text-yellow-400 text-center">★★★★★</p>
          <p class="text-xl font-bold font-header text-center">Mario Marino</p>
        </div>
      </div>
      <div class="flex-shrink-0 flex flex-col justify-between bg-sky-500 text-white font-light font-paragraph rounded-xl italic text-base w-1/2 lg:w-1/2 text-justify lg:h-80 py-5 px-5 ">
        <p>
          I love the home-town feel of this modernized flight school. They offer a variety of planes for instruction and rent. The instructors are top-notch and care about their students.   And the school uses a nice app for scheduling.
        </p>
        <div class="">
          <p class="text-yellow-400 text-center">★★★★★</p>
          <p class="text-xl font-bold font-header text-center">Nathan Wortman</p>
        </div>
      </div>
      <div class="flex-shrink-0 flex flex-col justify-between bg-sky-500 text-white font-light font-paragraph rounded-xl italic text-base w-1/2 lg:w-1/2 text-justify lg:h-80 py-5 px-5 ">
        <p>
          I’ve been a student at Pitcairn for over a year. They have put great care into selecting the best possible team and creating the best possible curriculum to help students learn at their own pace. Because they take the time to know their students abilities and aspirations, they can tailor training to your needs. And they do it all at a very reasonable price. This has allowed me to expedite my training. The entire staff (ground crew, maintenance, customer service, instructors, and ownership) are very friendly and accommodating. I could not recommend Barry and the entire team more highly. If you’re looking for a place to learn to fly or brush up on your skills, this is it.
        </p>
        <div class="">
          <p class="text-yellow-400 text-center">★★★★★</p>
          <p class="text-xl font-bold font-header text-center">Mario Marino</p>
        </div>
      </div>
    </div>

    <!--second set-->
    <div class="flex flex-row overscroll-none gap-10 absolute top-0 lg:animate-marquee2 animate-marquee2mobile ml-10">
      <div class="flex-shrink-0 flex flex-col justify-between bg-sky-500 text-white font-light font-paragraph rounded-xl italic text-base w-1/2 lg:w-1/2 text-justify lg:h-80 py-5 px-5 ">
        <p>I love the home-town feel of this modernized flight school. They offer a variety of planes for instruction and rent. The instructors are top-notch and care about their students.   And the school uses a nice app for scheduling.
        </p>
        <div class="">
          <p class="text-yellow-400 text-center">★★★★★</p>
          <p class="text-xl font-bold font-header text-center">Nathan Wortman</p>
        </div>
      </div>
      <div class="flex-shrink-0 flex flex-col justify-between bg-sky-500 text-white font-light font-paragraph rounded-xl italic text-base w-1/2 lg:w-1/2 text-justify lg:h-80 py-5 px-5 ">
        <p>
          I’ve been a student at Pitcairn for over a year. They have put great care into selecting the best possible team and creating the best possible curriculum to help students learn at their own pace. Because they take the time to know their students abilities and aspirations, they can tailor training to your needs. And they do it all at a very reasonable price. This has allowed me to expedite my training. The entire staff (ground crew, maintenance, customer service, instructors, and ownership) are very friendly and accommodating. I could not recommend Barry and the entire team more highly. If you’re looking for a place to learn to fly or brush up on your skills, this is it.
        </p>
        <div class="">
          <p class="text-yellow-400 text-center">★★★★★</p>
          <p class="text-xl font-bold font-header text-center">Mario Marino</p>
        </div>
      </div>
      <div class="flex-shrink-0 flex flex-col justify-between bg-sky-500 text-white font-light font-paragraph rounded-xl italic text-base w-1/2 lg:w-1/2 text-justify lg:h-80 py-5 px-5 ">
        <p>I love the home-town feel of this modernized flight school. They offer a variety of planes for instruction and rent. The instructors are top-notch and care about their students.   And the school uses a nice app for scheduling.
        </p>
        <div class="">
          <p class="text-yellow-400 text-center">★★★★★</p>
          <p class="text-xl font-bold font-header text-center">Nathan Wortman</p>
        </div>
      </div>
      <div class="flex-shrink-0 flex flex-col justify-between bg-sky-500 text-white rounded-xl italic text-base w-1/2 lg:w-1/2 text-justify lg:h-80 py-5 px-5 ">
        <p>
          I’ve been a student at Pitcairn for over a year. They have put great care into selecting the best possible team and creating the best possible curriculum to help students learn at their own pace. Because they take the time to know their students abilities and aspirations, they can tailor training to your needs. And they do it all at a very reasonable price. This has allowed me to expedite my training. The entire staff (ground crew, maintenance, customer service, instructors, and ownership) are very friendly and accommodating. I could not recommend Barry and the entire team more highly. If you’re looking for a place to learn to fly or brush up on your skills, this is it.
        </p>
        <div class="">
          <p class="text-yellow-400 text-center">★★★★★</p>
          <p class="text-xl font-bold font-header text-center">Mario Marino</p>
        </div>
      </div>
  </div>
</section>