<%= render "shared/header"%>

<div class="h-screen-3/4 flex flex-col items-center justify-center bg-gradient-to-r from-sky-950 to-slate-900 text-white">
  <div class="max-w-2xl text-center">
    About us page will be updated shortly.  Thanks for checking us out!  Meanwhile, feel free to explore the rest of our website.  If you're interested in flying with us, come visit or give us a call at 610-495-7000.  We're also available via email at flynow@pitcairnflight.com
  </div>
</div>

<%= render "shared/footer"%>