<%# Head / Meta Data %>
<% title("Enroll to be a Pilot at Pitcairn Flight Academy") %>
<% meta_description("Enroll at Pitcairn Flight Academy, the leading flight school in Philadelphia, Pottstown, Reading, and King of Prussia. Start your pilot training with us and embark on an exciting career in aviation.") %>
<% meta_keywords("Enroll at Pitcairn Flight Academy, Flight School Enrollment, Philadelphia Flight School, Phoenix Flight School, Heritage Field Flight School, Limerick Flight School, Pilot training") %>

<header class="w-full bg-cessna-ramp  h-screen lg:h-screen bg-cover bg-center flex flex-col justify-between items-center">
  <div class="px-5 py-40 lg:py-52 flex flex-col justify-center items-start w-full h-full text-white">
      <h1 class="font-bold text-5xl text-center lg:text-start uppercase">Are you ready to become a pilot?</h1>
      <h2 class="font-semibold text-4xl text-center lg:text-start py-10 tracking-tight">Start Training at Pitcairn Flight Academy</h2>
      <div class="w-full flex flex-col items-center lg:hidden">
        <a href="#quiz-frame", class="btn-primary"
        onclick="event.preventDefault(); document.getElementById('quiz-frame').scrollIntoView({ behavior: 'smooth' });">
          START NOW
        </a>
      </div>
  </div>

  

  <div class="hidden lg:block lg:fixed  right-5 top-10 z-50 bg-white rounded-xl border pb-5 overflow-y-auto max-h-[88vh]">
  <%= render "form", enrollment: @enrollment %>
  </div>
</header>

<section class="flex flex-col items-start bg-gradient-to-b from-sky-900 to-slate-900 text-slate-200">
  <div class="lg:w-2/3 flex flex-col items-center">
    <h2 class=" uppercase font-semibold text-4xl pt-20 pb-10 text-center text-white">Why Fly at Pitcairn Flight Academy?</h2>
    <p class="max-w-2xl px-5 pb-10 font-header">
      Your success means the world to us. Learning to fly is a life changing journey, and we're committed to giving you the knowledge, expertise, and guidance to help you start flying. Whether you're looking to fly for fun or you're career in the pilot's seat, count on us for top notch training that paves your way to success.
    </p>
    <h2 class=" uppercase font-semibold text-4xl pb-10 text-center text-white">Programs to Fit Your Schedule</h2>
    <p class="max-w-2xl px-5 pb-10 font-header">
      Pursuing your flying goals doesn't require giving up your other responsibilities. We provide training programs tailored to work with your schedule. Whether you looking for a fast paced full time training plan or a more adaptable part time choice where you only fly a few times a week, we've got the ideal solution to align with your requirements.
    </p>
    <h2 class=" uppercase font-semibold text-4xl pb-10 text-center text-white">Start Your Career</h2>
    <p class="max-w-2xl px-5 pb-10 font-header">
      All of the pilots that fly for the airlines or do corporate charter were in your shoes at one point in time. They all had to start somewhere they started training at a local flight school. This is your chance to be a part of the action.  If you're looking to start a career in aviation or even if you want to pursue aviation as a hobby, fill out the form on this page and let's get in touch. 
    </p>

    <div class="pt-10 flex flex-row gap-3 justify-center">
      <%= link_to pilot_training_path do %>
        <div class="btn-primary mb-10">
          VIEW PROGRAMS
        </div>
      <% end %>
      <a href="#quiz-frame", class="lg:hidden"
        onclick="event.preventDefault(); document.getElementById('quiz-frame').scrollIntoView({ behavior: 'smooth' });">
        <div class="btn-primary mb-10 border-2 lg:px-16">
        FLY NOW
        </div>
      </a>
    </div>
  </div>

  


</section>


<!--Mobile // use turbo frame to keep view in place-->
<turbo-frame id="quiz-frame">
  <div class="lg:hidden right-5 top-10 z-50 bg-white pb-5 overflow-y-auto">
    <%= render "form", enrollment: @enrollment %>
  </div>
</turbo-frame>




<div class="w-full bg-slate-900 pt-16 pb-5 pl-5">
  <%= render "shared/bottom_footer"%>
</div>