@tailwind base;
@tailwind components;
@tailwind utilities;

/*

@layer components {
  .btn-primary {
    @apply py-2 px-4 bg-blue-200;
  }
}

*/

@layer components {
  .p-text {
    @apply font-paragraph text-lg;
  }

  .btn-primary {
    @apply font-semibold bg-sky-900 border-sky-900 hover:bg-sky-800 hover:border-sky-800 border-2 hover:scale-105 text-xl lg:text-2xl transition-all duration-300 text-white rounded-lg text-center py-2 px-5 cursor-pointer;
  }
  .btn-secondary {
    @apply font-sans font-semibold bg-white border-sky-500 border-2 hover:scale-105 text-xl lg:text-2xl transition-all duration-300 text-sky-500 rounded-lg text-center py-2 px-5 cursor-pointer;
  }
}

@layer base {
  .no-tailwindcss-base h1, .no-tailwindcss-base h2, .no-tailwindcss-base h3, 
.no-tailwindcss-base h4, .no-tailwindcss-base h5, .no-tailwindcss-base h6 {
    font-size: revert;
    font-weight: revert;
 }
  .no-tailwindcss-base ol, .no-tailwindcss-base ul {
    list-style: revert;
    margin: revert;
    padding: revert;
 }
 .no-tailwindcss-base a {
  @apply text-blue-700 underline;
 }
}